<div *ngIf="drink">
	<h2>Drink Details</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{drink.name}}</h3>
		</div>
		<div class="panel-body">
			<h4>Image URL</h4>
			<p>{{drink.imageUrl}}</p>
			<h4>Description</h4>
			<p>{{drink.description}}</p>
			<h4>Ingredients</h4>
			<ul>
				<li *ngFor="let ingredient of drink.ingredients">{{ingredient.name}}</li>
			</ul>
		</div>
	</div>
	<button type="button" (click)="gotoEdit()" class="btn btn-success">Edit</button>
	<button type="button" (click)="goBack()" class="btn btn-cancel">Back</button>
</div>