<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">List of Drinks</h2>
	</div>
	
	<div class="panel-body">		
		<div class="drinks">
			<div class="row" *ngFor="let drink of drinks">
				<div class="col-sm-7">
					<span class="drink-name">{{drink.name}}</span>
				</div>
				<div class="col-sm-5">
			  		<button (click)="gotoDetails(drink)">View Details</button>
			  		<button (click)="gotoEditDrink(drink)">Edit</button>
			  		<button (click)="deleteDrink(drink)">Remove</button>
		  		</div>
			</div>
		</div>
	</div>
</div>