h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
	margin: 0 10px;
}
.modal .modal-header > button.close {
	position: absolute;
    right: 20px;
    top: 20px;
}